@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


.App {
    height: 100%;
    background-color: #e7e6e6;
}

.container {
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
}

h1.title {
    font-size: 4em;
    color: darkgray;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 5px 5px 5px #fff;
    margin: 0 0 0.5em 0;
}

.input {
    display: flex;
    justify-content: center;
}

.input input {
    box-sizing: border-box;
    width: 75%;
    height: 50px;
    padding: 5px 10px;
    font-size: 20px;
    margin-right: 10px;
}

.input button {
    cursor: pointer;
    background-color: #aaa;
    border-radius: 12px;
    box-shadow: 0 5px 0 black;
    color: #fff;
    font-weight: 700;
    border: 2px solid #445162;
    padding: 5px 10px;
    font-size: 25px;
    letter-spacing: 2px;
    top: 0;
    position: relative;

    transition: all 0.5s ease 0s;
}

.input button:active {
    top: 2px;
    background-color: #555;
    box-shadow: 0 3px 0 black;

    transition: all 0.1s ease 0s;
}

.list {
    flex: 1 1 auto;
    padding: 40px;
    margin-bottom: 50px;
}

.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 2em;
    text-align: left;
}

.list input {
    width: 30px;
    height: 30px;
}

.list li span {
    width: 85%;
}

.list button {
    width: 30px;
    height: 30px;
}

.deleteBtn {
    cursor:pointer;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    padding: 3px;
}

.deleteBtn:hover {
    background: #333;
    color: #fff;
    transition-duration: 1s;
}

.footer {
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.messageItemsLeft {
    font-weight: 700;
}

.footer button {
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 10px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 5px 0 grey;
    padding: 2px 12px;
    position: relative;
    transition: all 0.5s ease 0s;
}

.footer button:hover {
    border: 1px solid black;
    transition: all 0.9s ease 0s;
}

.footer button:active {
    top: 2px;
    background-color: #aaa;
    box-shadow: 0 3px 0 black;
    transition: all 0.1s ease 0s;
}


.error {
    border: red 1px solid;
}

.errorMessage {
    margin-top: 10px;
    color: red;
}

.activeFilter {
    background-color: #aaa;
}

.isDone {
    opacity: 0.5;
}


